<!DOCTYPE html>
<html>

  <%- include('../partials/header')  %> 

  <%- include('../partials/main_nav') %>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <h3>
              CollegeWorld
            </h3>
            <span> </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/course"> Courses </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event"> Events </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faculty"> Faculty </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

 <!-- Programs section -->
 <section class="event_section layout_padding">
   <div class="container">
    <div class="heading_container">
      <h3>
        Our Programs
      </h3>
      <p>
        Read more about our programs and Know more what they offer to you!
      </p>
    </div>
    
  <h3>School of Community and Health Studies</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program</th>
          <th scope="col">Length</th>
          <th scope="col">Credential</th>
          <th scope="col">Campus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Addiction and Mental Health Worker</th>
          <td>2 years / 4 semesters</td>
          <td>Ontario College Diploma</td>
          <td>Ashtonbee</td>
        </tr>
        <tr>
          <th scope="row">Bachelor of Science in Nursing (BScN)</th>
          <td>4 year / 8 semesters</td>
          <td>Bachelor Degree</td>
          <td>Morningside</td>
        </tr>
        <tr>
          <th scope="row">Community and Child Studies Foundations</th>
          <td>1 year / 2 semasters</td>
          <td>Ontario College Certificate</td>
          <td>Progress</td>
        </tr>
      </tbody>
    </table>
    <div class="btn-box">
      <a href="/course">
        Back
      </a>
    </div>
  
  </section>
  <!-- end course section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              QUICK LINKS
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/course"> Courses </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/event"> Events </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
              TOP RATED COURSE
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humou
            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              FOR ANY QUERY, PLEASE WRITE TO US
            </h5>
            <div class="info_contact">
              <a href="">
                Location
              </a>
              <a href="">
                demo@gmail.com
              </a>
              <a href="">
                Call : +01 1234567890
              </a>
            </div>
            <form action="">
              <input type="text" placeholder="Enter Your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2021 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>